html,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
}
body {
  box-sizing: border-box;
}
header,
.section-1,
.section-2,
.section-3,
.section-4,
.section-5,
.section-6,
.section-7,
.section-8,
footer {
  max-width: 1600px;
  margin: 0 auto;
}
.row {
  min-height: 5rem;
}
header {
  position: relative;
  background: url("../img/bg1.jpg") no-repeat center top;
  background-size: cover;
  height: 100vh;
  z-index: 0;
}
header::before {
  position: absolute;
  top: 6.1rem;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.548);
  z-index: 1;
}
header .container {
  position: relative;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
header .logo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "RobotoBold";
  color: aliceblue;
  font-size: 2rem;
  width: 4.1875rem;
  height: 4.1875rem;
  background: #006699;
}
header .logo::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: .75rem;
  left: .75rem;
  background: #cccccc;
  z-index: -1;
}
header nav ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Roboto";
}
header nav ul a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: aliceblue;
  height: 100%;
}
header nav ul a:hover {
  border-bottom: 5px solid #0d90fc;
  color: aliceblue;
  text-decoration: none;
}
header .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .icons a:hover {
  border-bottom: 5px solid #0d90fc;
  color: aliceblue;
  text-decoration: none;
}
header h1 {
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 8rem;
  font-family: "RobotoBold";
  letter-spacing: 14px;
  color: aliceblue;
  line-height: 10.5rem;
}
header h3 {
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 2rem;
  letter-spacing: 14px;
  font-family: "RobotoMedium";
  color: #006699;
}
header i {
  color: aliceblue;
  font-size: 1.2rem;
}
header .flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #cccccc;
}
header .flex-center span {
  font-size: .8rem;
}
header .circle {
  position: relative;
  left: -4px;
  top: 0px;
}
header .circle:after {
  position: absolute;
  top: -39%;
  left: -54%;
  content: "";
  width: 55px;
  height: 55px;
  border: 1px solid #ffffff;
  border-radius: 50%;
}
.section-1 {
  background: #069;
  color: aliceblue;
}
.section-1 h2,
.section-1 h3 {
  font-family: "RobotoMedium";
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0;
}
.section-1 h2 {
  position: relative;
  font-size: 2.5rem;
  letter-spacing: 2px;
}
.section-1 h2::after {
  position: absolute;
  top: -280%;
  left: 30%;
  content: "W";
  font-family: "RobotoBold";
  font-size: 17rem;
  color: rgba(240, 248, 255, 0.39);
}
.section-1 h3 {
  font-size: 1.5rem;
}
.section-1 .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.356);
  margin: auto;
}
.section-1 #icon1,
.section-1 #icon2,
.section-1 #icon3 {
  display: block;
  width: 40px;
  height: 40px;
  margin: auto auto;
  background: url("../img/sprite.png") no-repeat;
}
.section-1 #icon1 {
  background-position: 0 0;
}
.section-1 #icon2 {
  background-position: -40px 0;
}
.section-1 #icon3 {
  background-position: -77px 0;
}
.section-1 p {
  font-size: 0.95rem;
}
.section-2 {
  height: 100vh;
  background: url("../img/bg3.png"), url("../img/bg4.png"), -webkit-linear-gradient(top, #333 50%, #fff 50%);
  background: url("../img/bg3.png"), url("../img/bg4.png"), linear-gradient(top, #333 50%, #fff 50%);
  background-position: 100% 0, 0 100%, 0 0;
  background-repeat: no-repeat;
  background-size: 50% 50%, 50% 50%, 100%;
}
.section-2 .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.section-2 .container .row1 {
  color: aliceblue;
}
.section-2 .container .row1 a {
  color: aliceblue;
}
.section-2 .container .row2 a {
  color: #333;
}
.section-2 .container h3 {
  text-align: start;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}
.section-3 {
  background: #fff;
  height: 100%;
}
.section-3 .container {
  position: relative;
  height: 100%;
}
.section-3 .container .row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  margin: 6rem 0 0 0;
}
.section-3 .container img {
  width: 100%;
  height: 100%;
}
.section-3 h2 {
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: "RobotoBold";
  font-weight: 700;
  position: relative;
  font-size: 2.5rem;
  z-index: 0;
}
.section-3 h2::after {
  font-family: monospace;
  position: absolute;
  top: -283%;
  left: 42%;
  content: "B";
  font-family: "RobotoBold";
  font-size: 16rem;
  color: #ccc;
  z-index: -1;
}
.section-3 h3 {
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0;
  margin: 5rem 0 3rem 0;
  text-transform: none;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.section-3 h4 {
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: #006699;
  margin: 3rem 0 1rem 0;
}
.section-3 p {
  font-size: 1rem;
  text-align: center;
  line-height: 1.4rem;
  font-family: Arial, Helvetica, sans-serif;
}
.section-4 {
  background: #0267ba;
}
.section-4 .container .row {
  padding: 4rem 0;
}
.section-4 .container .img {
  width: 75px;
  height: 75px;
  background: url('../img/sprite.png') no-repeat;
  background-position: 0 -35px;
}
.section-4 .container .text {
  color: aliceblue;
  font-size: 1rem;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.section-5 {
  background: url("../img/sec5_bg.jpg");
}
.section-5 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.section-5 h3 {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: aliceblue;
}
.section-5 p {
  margin: 2.7rem 0 4.7rem 0;
  color: aliceblue;
}
.section-5 .span {
  background: #069;
  text-align: start;
  color: aliceblue;
  padding: 0.5rem;
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 1.5rem;
}
.section-5 .span:first-child {
  width: 73%;
}
.section-5 .span:nth-child(2) {
  width: 81%;
}
.section-5 .span:nth-child(3) {
  width: 87%;
}
.section-5 img {
  position: relative;
  width: 100%;
  height: 100%;
}
.section-6 {
  background: #fff;
  height: 100%;
  padding-top: 3rem;
}
.section-6 .container {
  position: relative;
  height: 100%;
}
.section-6 .container .row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}
.section-6 .container img {
  width: 100%;
  height: 100%;
}
.section-6 .container h2 {
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: "RobotoBold";
  font-weight: 700;
  position: relative;
  font-size: 2.5rem;
  z-index: 0;
}
.section-6 .container h2::after {
  font-family: monospace;
  position: absolute;
  top: -198%;
  left: 44%;
  content: "T";
  font-family: "RobotoBold";
  font-size: 14rem;
  line-height: 14rem;
  color: #ccc;
  z-index: -1;
}
.section-6 .container h3 {
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0;
  margin: 5rem 0 3rem 0;
  text-transform: none;
  letter-spacing: 1px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.section-6 .container .row2 .col-lg-3 {
  position: relative;
}
.section-6 .container .row2 .col-lg-3 .name_proff {
  position: absolute;
  bottom: -10%;
  left: 15%;
  width: 70%;
  background: #fff;
  padding: 1rem 1rem;
}
.section-6 .container h4 {
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: #006699;
  margin: 0 0;
}
.section-6 .container h5 {
  text-align: center;
  margin: 0;
}
.section-7 {
  background: url("../img/sec7_bg.jpg");
  padding: 8rem 0 5rem 0;
}
.section-7 .row1 {
  margin: 0 0 8rem 0;
}
.section-7 h2 {
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: aliceblue;
  position: relative;
  font-size: 2.5rem;
  letter-spacing: 1px;
  z-index: 0;
}
.section-7 h2::after {
  font-family: monospace;
  position: absolute;
  top: -172%;
  left: 42.9%;
  content: "C";
  font-family: "RobotoBold";
  font-size: 14rem;
  line-height: 14rem;
  color: rgba(204, 204, 204, 0.438);
  z-index: -1;
}
.section-7 input,
.section-7 textarea {
  width: 100%;
  background: transparent;
  border: #fff 1px solid;
  color: aliceblue;
  padding: 0.5rem 1rem;
}
.section-7 input::-webkit-input-placeholder,
.section-7 textarea::-webkit-input-placeholder {
  color: aliceblue;
}
.section-7 input::-moz-placeholder,
.section-7 textarea::-moz-placeholder {
  color: aliceblue;
}
.section-7 input:-ms-input-placeholder,
.section-7 textarea:-ms-input-placeholder {
  color: aliceblue;
}
.section-7 input::placeholder,
.section-7 textarea::placeholder {
  color: aliceblue;
}
.section-7 textarea {
  margin: 2rem 0 2.3rem 0;
}
.section-7 .btn-submit {
  background: #069;
  border: none;
  margin: 0 auto;
  padding: 0.5rem 1.5rem;
  color: aliceblue;
  text-transform: uppercase;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.5rem;
}
.section-8 {
  height: 50vh;
}
.section-8 iframe {
  width: 100%;
  height: 100%;
  max-height: 500px;
}
.section-8 .map {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}
footer {
  min-height: 100px;
  background: #333;
}
footer .container {
  height: 100%;
}
footer .container h3 {
  color: aliceblue;
  font-size: 0.8rem;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 500;
}
/*# sourceMappingURL=./style.css.map */